<div>
	<%= link_to 'Categories', item_categories_path, class: "tab10"%>
	<%= link_to 'Items', items_path, class: "tab10" %>
	<%= link_to 'Taxes', item_taxes_path, class: "tab10" %>
	<%= link_to 'List Items',  item_list_home_index_path, class: "tab10" %>
</div>