<div>
	<%= link_to 'Add/Edit Categories', item_categories_path, class: "tab10"%>
	<%= link_to 'Add/Edit Items', items_path, class: "tab10" %>
	<%= link_to 'Add/Edit Taxes', item_taxes_path, class: "tab10" %>
	<%= link_to 'List Items',  item_list_home_index_path, class: "tab10" %>
</div>